version: "3.8"

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - SERVICES=s3,lambda,sqs,sns,dynamodb,apigateway,cloudformation
      - DEBUG=0
      - LAMBDA_EXECUTOR=docker-reuse
      - DATA_DIR=/var/lib/localstack/data
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - ./localstack-data:/var/lib/localstack/data
      - /var/run/docker.sock:/var/run/docker.sock
